* {
    box-sizing: border-box;
}

button {
    background-color: white;
    border-color: gray;
    border-style: solid;
    display: block;
    font-size: 1.2em;
}

ul {
    list-style-type: none;
}

.propertyButtons {
    position: absolute;
    width: 14%;
    height: 2em;
    margin-bottom: .5em;
    margin-left: 85%;
}

#back {
    width: 12.3%;
    height: 2em;
    margin-left: 80.5%;
}

.propertyListing {
    position: relative;
    border: solid;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
    padding-bottom: 10em;
}

#propertyList {
    padding: 0;
}

#address {
    position: absolute;
    font-size: 2.6em;
}

#edit {
    margin-top: 0;
}

#remove {
    margin-top: 3em;
}

#promote {
    margin-top: 6em;
}

button:hover { /* */
    background-color: gray;
}

.inbox {
    margin-top: 6em;
    width: 20%;
    margin-left: 55%;
}

.logout {
    width: 15%;
    margin-left: 42%;
}

.middleButtons {
    width: 50%;
}

.inbox,
.logout,
.middleButtons {
    height: 4em;
    margin-top: 1em;
    margin-left: 25%;
}

#addPropertyButton {
    width: 85%;
    margin-left: 7.5%;
    padding: 1em;
}