* {
    box-sizing: border-box;
}

body > section {
    display: none;
}

body > section.active {
    display: block;
}

form {
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form * {
    width: 20vw;
    margin: 1rem;
}

form button {
    width: 10vw;
    align-items: center;
}

span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}